.card {
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    height: 40rem;
    width: 60rem;
}
.modal {
    position: fixed;
    left: 12%;
    top: 12rem;
    z-index: 100;
    overflow: hidden;
}