.grid {
    text-align: center;
    padding-top: 6rem;
}
.card {
    display: grid;
    margin: auto;
    width: 60rem;
    height: 40rem;
    grid-template-columns: 60% 40%;
    border: 2px solid black;
    border-radius: 10px;
}
.modal {
    position: fixed;
    right: 22%;
    top: 7rem;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}