.grid {
    text-align: center;
    /* padding-top: 6rem; */
}
.card {
    display: grid;
    margin: auto;
    grid-template-columns: 60% 40%;
    height: 40rem;
    width: 60rem;
    
}
.modal {
    border-radius: 10px;
    position: fixed;
    left: 15%;
    top: 10%;
    z-index: 100;
    overflow: hidden;
}