.modal {
    border-radius: 10px;
    position: fixed;
    left:37%;
    top: 20%;
    z-index: 100;
    overflow: hidden;
}
.card {
    margin: auto;
    height: 24rem;
    width: 20rem;
    background-color: white;
    border-radius: 10px;
}