.container {
    border: 2px solid red;
}
.subcontainer {
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vt 30vt;
    width: 50%;
    height: 50rem;
    background-color: red;
    border: 2px solid blue;
}
.left {
    grid-column: 1/2;
}
.right {
    grid-column: 2/2;
}