.container {
    border: 2px solid red;
}
.subcontainer {
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 60%;
    height: 100%;
    background-color: red;
    border: 2px solid blue;
}