.type1 {
    width: 15rem;
    height: 32rem;
    /* border: 2px solid black; */
}
.type2 {
    width: 35.8rem;
    height: 32rem;
    /* border: 2px solid black; */
}
.type3 {
    width: 15rem;
    height: 16rem;
    /* border: 2px solid black; */
}
.type4 {
    width: 53.6rem;
    height: 16rem;
    /* border: 2px solid black; */
}


