.card {
    border: 2px solid brown;
    height: 12rem;
    width: 18rem;
    text-align: center;
    display: flex;
}
.index {
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto auto 0.5rem;
    background-color: pink;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
}
.img {
    margin: auto;
}