.dot {
    height: 45px;
    width: 45px;
    background-color: #F5B7A5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 12px;
  }
.dot img {
    width: 23px;
    margin: auto;
}
.dot:hover {
  opacity: 0.8;
  transition: 0.5s;
}