.dot {
    height: 45px;
    width: 45px;
    background-color: #D17171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 12px;
  }
.dot img {
    width: 23px;
    margin: auto;
}
.dot:hover {
  background-color: rgb(240, 80, 80);
  transition: 0.5s;
}