@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Esteban', serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #F5B7A5;
  border: 3px solid #F5B7A5;
}

button:hover,
button:active {
  background-color: #F5B7A5;
  font-weight: bold;
  color: white;
}

img {
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

span {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.isLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}