.container {
    display: grid;
    grid-template-rows: 5% 40% 5% 5% 40% 5%;
    height: 70rem;
}
.container button {
    width: 12rem;
    height: 2rem;
}
.buttoncont button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}