.left {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    background-color: rgb(204, 199, 199);
    overflow-y: scroll;
}
.edit {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.right button {
    border: 3px solid white;
    background-color: #41436A;
    color: white;
}
