.container {
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    overflow-y: scroll;
}
.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.subcontainer button {
    width: 90%;
    height: 20%;
}